

<table>
  <thead>
    <tr>
      <th>Ingredients</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.ingredient.name %></td>
        <td><%= link_to 'Show', menu_item_recipe_path(@menu_item, recipe) %></td>
        <td><%= link_to 'Edit', edit_menu_item_recipe_path(@menu_item, recipe)  %></td>
        <td><%= link_to 'Destroy', menu_item_recipe_path(@menu_item, recipe) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_menu_item_recipe_path(@menu_item) %>
