<h1>Menu</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @menu_items.each do |menu_item| %>
      <tr>
        <td><p><%= menu_item.name %></p></td>
        <td><p><%= menu_item.price %></p></td>
        <td><p><% menu_item.id%>
        <td><%= link_to 'Show', menu_item %></td>

        <td><%= link_to 'Edit', edit_menu_item_path(menu_item) %></td>
        <td><%= link_to 'Destroy', menu_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<h1>New Menu Item</h1>
<label>Name</label>

<label>Price</label>

<label>Ingredients</label>
<td><%= link_to 'Add Item', new_menu_item_path%>
  </td>


<%= link_to 'Back', menu_items_path %>
