<p id="notice"><%= notice %></p>
	<h2><%= @menu_item.name %>	<%= @menu_item.price %>
		<%= link_to 'Edit',  edit_menu_item_path , @edit_menu_item_path %> |
<%= link_to 'Back', menu_items_path %>
</h2>


<%= render 'recipes/index' %>